@model IEnumerable<ActivityViewModel>

@{
    ViewData["Title"] = "Activiteitenkalender";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Activiteitenkalender</h2>
<hr />

@if (User.IsInRole("Bestuur") || User.IsInRole("Secretaris"))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Toevoegen</a>
        <a asp-action="Index" class="btn btn-default">Terug naar overzicht</a>
    </p>
}

<div id="calendar"></div>

@section Scripts
{
    <script>
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                // put your options and callbacks here
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay,listMonth'
                },
                locale: 'nl',
                events: function(start, end, timezone, callback) {
                    $.ajax({
                        url: '/api/v1/activities',
                        dataType: 'json',
                        success: function(doc) {
                            var events = [];
                            $(doc).each(function (index, val) {
                                events.push({
                                    title: val.name,
                                    start: val.startDateTime,
                                    end: val.endDateTime,
                                    backgroundColor: val.activityType.backgroundColor,
                                    borderColor: val.activityType.borderColor,
                                    textColor: val.activityType.textColor,
                                    url: '/activities/details/' + val.activityID
                                });
                            });
                            callback(events);
                        },
                        error: function() {
                            alert('Mmm er is geen verbinding met de API.');
                        }
                    });
                }
            });
        });
    </script>
}
