@model ChangeEducationalInformationViewModel
@{
    ViewData["Title"] = "Wijzig studiegegevens";
}

<h2>@ViewData["Title"].</h2>

<form asp-controller="Manage" asp-action="ChangeEducationalInformation" method="post" class="form-horizontal">
    <h4>Persoonlijke Informatie</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="StudentNumber" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="StudentNumber" class="form-control" disabled />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="StartdateStudy" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="StartdateStudy" class="form-control datetimepicker" placeholder="jjjj" />
            <span asp-validation-for="StartdateStudy" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="StudyType" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="StudyType" asp-items="Html.GetEnumSelectList<StudyType>()" class="form-control"></select>
            <span asp-validation-for="StudyType" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Wijzig</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script type="text/javascript">
        $(function () {
            $('.datetimepicker').datetimepicker({
                locale: 'nl',
                format: 'YYYY',
                viewMode: "years"
            });
        });
    </script>
}
