@model indicium_webapp.Models.ApplicationUser
@using indicium_webapp.Models

@{
    ViewData["Title"] = "Edit";
    var currentrole = ViewData["currentrole"];
}

<h2>Bewerk persoonsgegevens</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Gebruiker</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FirstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Sex" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Sex" class="form-control">
                    <option>M</option>
                    <option>V</option>
                    <option>O</option>
                </select>
                <span asp-validation-for="Sex" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Birthday" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Birthday" class="form-control datetimepicker" type="text" placeholder="dd-mm-yyyy" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AddressStreet" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AddressStreet" class="form-control" />
                <span asp-validation-for="AddressStreet" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AddressNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AddressNumber" class="form-control" />
                <span asp-validation-for="AddressNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AddressPostalCode" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AddressPostalCode" class="form-control" />
                <span asp-validation-for="AddressPostalCode" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AddressCity" class="col-md-2 control-label">Woonplaats</label>
            <div class="col-md-10">
                <input asp-for="AddressCity" class="form-control" />
                <span asp-validation-for="AddressCity" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AddressCountry" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AddressCountry" class="form-control" />
                <span asp-validation-for="AddressCountry" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Iban" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Iban" class="form-control" />
                <span asp-validation-for="Iban" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StudentNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StudentNumber" class="form-control" />
                <span asp-validation-for="StudentNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StartdateStudy" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StartdateStudy" class="form-control datetimepicker" type="text" placeholder="dd-mm-yyyy" />
                <span asp-validation-for="StartdateStudy" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StudyType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="StudyType" class="form-control">
                    <option>Propedeuse</option>
                    <option>SIE</option>
                    <option>TI</option>
                    <option>SNE</option>
                    <option>BIM</option>
                </select>
                <span asp-validation-for="StudyType" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IsActive" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="IsActive" class="form-control">
                    <option value="0">Nee</option>
                    <option value="1">Ja</option>
                </select>
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
        </div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="PhoneNumber" class="col-md-2 control-label">Telefoonnummer</label>
            <div class="col-md-10">
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select name="userrole" class="form-control">
                    @foreach (var role in ViewData["allroles"] as List<ApplicationRole>)
                    {
                        @if (role.Name.Equals(currentrole))
                        {
                            <option selected>@role</option>
                        }
                        else
                        {
                            <option>@role</option>
                        }

                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Bewaar" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Terug naar het overzicht</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(function () {
            $('.datetimepicker').datetimepicker({
                locale: 'nl',
                format: 'DD-MM-YYYY'
            });
        });
</script>
}
