@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>This webapplication is all about:</p>
<p><img src="http://localhost:55241/images/penguins.jpg" /></p>
