@{
    ViewData["Title"] = "Informatie";
}
<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <hr/>
        <p><img src="/images/penguins.jpg" /></p>
    </div>
    <div class="col-md-8">
        <hr/>
        <h3>We zijn nog bezig met het schrijven van de vele teksten op onze website.</h3>
        <p>Wist je dat de snelste pinguin soort wel 35 km/h kan zwemmen? </p>
    </div>
</div>
