@{
    ViewData["Title"] = "Informatie";
}
<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <hr/>
        <p><img src="/images/bannershort.png"/></p>
    </div>
    <div class="col-md-8">
        <hr/>
        <h1>Over ons</h1>
        <h4> “Er moeten toch ook ICT-ers zijn die het wel leuk vinden om gezellige dingen te doen?” Dit waren de wijze woorden van onze voorzitter William die aan het praten was tegen Nigel onze secretaris. Diezelfde dag werd Olivier door William benaderd of hij het ook leuk lijkt om ICT weer gezellig te maken. Het enige wat er nog ontbrak was iemand die zich goed kon vinden in de cijfers. De zoektocht duurde niet lang. We hadden al snel iemand gevonden die uitstekend kan boekhouden en zo met Sander onze penningmeester erbij hadden we een hecht bestuur gevormd.<br><br/>De ICT-ers werden vereenigd tot het vormen van het oprichtende bestuur van Indicium. Wij zijn er continu mee bezig om zowel leuke als informatieve activiteiten te organiseren om zo het welzijn van de studenten te bevorderen.<br><br> Studievereniging worden soms verward word met studentenverenigingen. Wij zijn de studievereniging van HBO-ICT te Utrecht en je kan alleen lid worden als je ICT aan de HU studeert.  We hebbe ook geen verplichtingen met uitzondering van onze zeer lage contributie.
        </h4>
    </div>
</div>
