@{
    ViewData["Title"] = "Informatie";
}
<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <hr/>
        <p>Er valtgeen easter_egg te vinden op een beta versie van onze website... maar succes met zoeken</p>
    </div>
    <div class="col-md-8">
        <hr/>
        <h3>Pinguins?</h3>
    </div>
</div>
