@{
    ViewData["Title"] = "Home Page";
}

<div>
    <center><img src="images/underconstruction.svg" style="width: 100px;margin-top: 30px;"></center>
    <h1>LET OP! WEBSITE IS NOG IN ONTWIKKELING</h1>
    <p>Als startende vereniging zijn wij druk bezig met het maken van onze website / ledenportaal. Als echte ICTers werken wij natuurlijk niet met een simpel template design, maar werken we programeren alles zo veel mogelijk zelf op de correcte wijze met de bijbehorende documentatie. Dit alles dat er een goede basis word gelegd voor de komende jaren. Helaas betekent dit wel dat het nog even duurt voordat de website af is.</p>
    <!--
    <h1>Waarom lid worden?</h1>
    <p>DAAROM</p>
    -->
    <h1>Hoe kan ik nu lid worden?</h1>
    <p>Meld je <a title="HIER" href="https://goo.gl/ER7z2T">HIER</a> aan. Omdat onze database nog in ontwikkeling is is dit de enige manier om lid te worden</p>
    
    <!--
    <h1>contact<h1>
    <p></p>
    <h1>Wat</h1>
    <p>Wij organiseren activiteiten die aansluiten op jou lesstof en natuurlijk het gebruikelijke gamen, bier en pizza. Elke maand op donderdagavond onze borrel in de <u>xxxxx</u>. Per blok (elk blok duurt ong. 10 weken) minimaal 3 activiteiten. De activiteiten varieren van rondleidingen, workshops, lezingen tot lan-party's.</p>
    -->
</div>
