@{
    ViewData["Title"] = "Home Page";
}

<div>
    <center><img src="images/logo_kleur_zwartletter.svg" style="width: 330px;margin-top: 30px;"></center>
    <h1>Waarom</h1>
    <p>Naar college, naar huis, gamen, slapen, naar college, naar huis, gamen... Je vraagt jezelf af of er iets meer is in het studentenleven. Je besluit lid te worden van dat kansloze clubje wat zichzelf Indicium noemt en kaboem! Naar college, supper epische tijd door brengen met mede ICT studenten, samen gamen en noobs inmaken, samen pizza eten, naar huis en verder gamen met mede ICT studenten via Discord. GA niet alleen in de garage van je ouders zitten join Indicium.</p>
    <h1>Hoe</h1>
    <p>Meld je hier aan.</p>
    <h1>Wat</h1>
    <p>Wij organiseren activiteiten die aansluiten op jou lesstof en natuurlijk het gebruikelijke gamen, bier en pizza. Elke maand op donderdagavond onze borrel in de <u>xxxxx</u>. Per blok (elk blok duurt ong. 10 weken) minimaal 3 activiteiten. De activiteiten varieren van rondleidingen, workshops, lezingen tot lan-party's.</p>
</div>
