@{
    ViewData["Title"] = "Statuten";
}
<h2>@ViewData["Title"]</h2>
<p>
    Heden, achttien mei tweeduizend zeventien, verschijnen voor mij, mr. Johannes Hagen, notaris te Vleuten, De Meern en Haarzuilens, gemeente Utrecht:
    <ul>
        <li>de heer Willem Johan Loosman, geboren te Urk op twintig april negentienhonderd vier en negentig, wonende te 3721 KB Bilthoven, Planetenbaan 35, houder van een geldig Nederlandse Identiteitskaart met nummer IP1K72K92, afgegeven te Zeist op negen januari tweeduizend zeventien, ongehuwd en niet geregistreerd in de zin van het geregistreerd partnerschap;</li>
        <li>de heer Sander de Bruin, geboren te Gorinchem op negen en twintig mei negentienhonderd vijf en negentig, wonende te 3431 HN Nieuwegein, Bankstede 32, houder van een geldig Nederlandse Identiteitskaart met nummer IU2837PJ2, afgegeven te Zederik op één juni tweeduizend vijftien, ongehuwd en niet geregistreerd in de zin van het geregistreerd partnerschap;</li> 
        <li>de heer Nigel van Hattum, geboren te Utrecht op twee en twintig mei negentienhonderd vijf en negentig, wonende te 3721 KB Bilthoven, Planetenbaan 35, houder van een geldig Nederlandse Identiteitskaart met nummer IK85LLH28, afgegeven te Lelystad op één en dertig mei tweeduizend twaalf, ongehuwd en niet geregistreerd in de zin van het geregistreerd partnerschap;</li>
        <li>de heer Olivier Eduard Verwoerd, geboren te Naarden op zeven oktober negentienhonderd zeven en negentig, wonende te 3741 HH Baarn, van Heemstralaan 30, houder van een geldig paspoort met nummer NW9062FF6, afgegeven te Baarn op zes juli tweeduizend zestien, ongehuwd en niet geregistreerd in de zin van het geregistreerd partnerschap.</li>
    </ul>
    De comparanten verklaren bij deze akte een vereniging met volledige rechtsbevoegdheid op te richten en daarvoor de volgende statuten vast te stellen:
</p>
<h2>Artikel 1</h2>
<h3>Naam en Zetel</h3>
<p>
    <ul>
        <li>
            1. De vereniging heet: Studievereniging Indicium.
        </li>
        <li>
            2. Zij heeft haar zetel in de gemeente Utrecht. 
        </li>
    </ul>
</p>
<h2>Artikel 2</h2>
<h3>Doel</h3>
<p>
    Het doel van de vereniging is het bevorderen, respectievelijk het doen bevorderen van: 
    <ul>
        <li>de contacten tussen studenten onderling en tussen studenten en medewerkers van de opleiding HBO-ICT aan de Hogeschool Utrecht en voorts het organiseren van studiegerichte, dan wel ontspannende activiteiten;</li>
        <li>de kwaliteit van de opleiding zelve;</li>
        <li>het vinden respectievelijk aanbieden van stage- en carrière posities en het vergroten van betrokkenheid van de studenten van de voorgenoemde opleiding in het werkveld, en het verrichten van alle verdere handelingen, die hiermee in de ruimste zin verband houden of daarvoor bevorderlijk kunnen zijn.</li>
    </ul>
</p>
<h2>Artikel 3</h2>
<h3>Verenigingsjaar</h3>
<p>
    Het verenigingsjaar valt samen met het kalenderjaar. 
</p>
<h2>Artikel 4</h2>
<h3>Lidmaatschap</h3>
<p>
    De vereniging kent gewone leden, ereleden en begunstigende leden. Als in deze statuten wordt gesproken van lid of leden bedoelen we daarmee zowel de gewone leden als de ereleden, tenzij het tegendeel blijkt. 
    <ul>
        <li>Gewone leden zijn zij, die als zodanig zijn toegelaten overeenkomstig het in artikel 5 bepaalde.</li>
        <li>Ereleden zijn zij, die in verband met hun buitengewone verdiensten voor de vereniging of in het kader van de doelstelling van de vereniging, door de algemene vergadering zijn benoemd tot erelid.</li>
        <li>Begunstigende leden zijn zij, die zich bereid verklaard hebben de vereniging financieel te steunen met een door de algemene ledenvergadering vastgesteld minimumbedrag en die als zodanig door het bestuur zijn toegelaten.</li>
    </ul>
</p>
<h2>Artikel 5</h2>
<p>
    <ul>
        <li>1.	Als gewoon lid kan men worden toegelaten nadat men schriftelijk hiervoor een verzoek bij het bestuur heeft ingediend. Het bestuur beslist over de toelating. Bij niet-toelating door het bestuur kan de algemene vergadering alsnog tot toelating besluiten.</li>
        <li>2.	Ereleden worden op voorstel van het bestuur door de algemene vergadering benoemd.</li>
        <li>3.	Begunstigend lid kan men worden door schriftelijke aanmelding bij het bestuur,dat over de toelating beslist.</li>
        <li>4.	Het lidmaatschap is strikt persoonlijk en niet overdraagbaar</li>
    </ul>
</p>
<h2>Artikel 6</h2>
<p>
    Het bestuur is bevoegd een lid te schorsen voor een periode van ten hoogste drie maanden. Gronden voor schorsing zijn: 
    <ul>
        <li>het lid handelt bij herhaling in strijd met zijn lidmaatschapsverplichtingen;</li>
        <li>het lid schaadt het belang van de vereniging in ernstige mate door handeling en/of gedragingen.</li>
    </ul>
    Gedurende de periode dat een lid is geschorst, kunnen de aan het lidmaatschap verbonden rechten niet worden uitgeoefend terwijl de lidmaatschapsverplichtingen in stand blijven. 
</p>
<h2>Artikel 7</h2>
<p>
    <ul>
        <li>
            1. Het lidmaatschap eindigt:
            <ul>
                <li>door overlijden van het lid. Is een rechtspersoon lid van de vereniging, dan eindigt haar lidmaatschap wanneer zij ophoudt te bestaan;</li>
                <li>door opzegging door het lid;</li>
                <li> opzegging namens de vereniging;</li>
                <li>door ontzetting;</li>
            </ul>
        </li>
        <li>
            2.
            <ul>
                <li>Opzegging van het lidmaatschap door het lid kan slechts plaatsvinden tegen het einde van een verenigingsjaar, met inachtneming van een opzegtermijnvan vier weken. De opzegging moet schriftelijk. De secretaris is verplicht deontvangst binnen acht dagen schriftelijk te bevestigen. Als de opzegging niet tijdig of niet schriftelijk heeft plaatsgehad, loopt het lidmaatschap door tot het einde van het eerstvolgende kalenderjaar, tenzij het bestuur anders besluit.</li>
                <li>
                    Het lidmaatschap eindigt na opzegging echter met onmiddellijke ingang:  
                    <ul>
                        <li>nadat een besluit aan het lid bekend is geworden of medegedeeld waarbij de rechten van de leden zijn beperkt of hun verplichtingen zijn verzwaard, tenzij het betreft een wijziging van geldelijke rechten en verplichtingen;</li>
                        <li>nadat het lid een besluit ter kennis is gebracht of gekomen tot omzetting van de vereniging in een andere rechtsvorm, tot fusie of splitsing;</li>
                        <li>als van het lid redelijkerwijs niet kan worden gevergd dat het lidmaatschap voortduurt.</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            3.	
            <ul>
                <li>Opzegging van het lidmaatschap namens de vereniging kan tegen het einde van een kalenderjaar door het bestuur met inachtneming van een opzegtermijn van vier weken. De opzegging vindt schriftelijk plaats en met opgave van redenen. Het aan het slot van lid 2.a bepaalde is van overeenkomstige toepassing.</li> 
                <li>Opzegging namens de vereniging kan plaatsvinden met onmiddellijke ingang:
                    <ul>
                        <li>als het lid bij herhaling zijn verplichtingen ten opzichte van de vereniging niet nakomt;</li> 
                        <li>als het lid heeft opgehouden te voldoen aan de vereisten die door de statuten voor het lidmaatschap worden gesteld;</li>  
                        <li>als redelijkerwijs van de vereniging niet gevergd kan worden dat het lidmaatschap voortduurt.</li> 
                    </ul>
                </li> 
            </ul>
        </li>
        <li>
            4.	Ontzetting uit het lidmaatschap kan worden uitgesproken wanneer een lid:
            <ul>
                <li>bij herhaling in strijd handelt of heeft gehandeld met de statuten, reglementen of besluiten van de vereniging;</li>
                <li>als het lid de vereniging op onredelijke wijze benadeelt of heeft benadeeld.</li> 
            </ul>
            De ontzetting geschiedt door het bestuur dat de betrokken persoon onverwijld van het besluit schriftelijk, onder opgave van redenen, in kennis stelt.
        </li>
        <li>
            5.	De betrokken persoon kan binnen een maand na ontvangst van de kennisgeving tegen het besluit tot opzegging van of ontzetting uit het lidmaatschap in beroep gaan bij de algemene vergadering. Het besluit van de algemene vergadering tot bevestiging van de opzegging of ontzetting moet worden genomen met een meerderheid van twee derde van het aantal geldig uitgebrachte stemmen. 
        </li>
        <li>
            6.	Als het lidmaatschap in de loop van een verenigingsjaar eindigt, ongeacht krachtens welke oorzaak, blijft de bijdrage die over het desbetreffende jaar verschuldigd was of zou zijn volledig verschuldigd, tenzij het bestuur anders besluit. 
        </li>
    </ul>
</p>
<h2>Artikel 8</h2>
<h3>Geldmiddelen</h3>
<p>
    <ul>
        <li>
            1.	De geldmiddelen van de vereniging kunnen onder meer bestaan uit:
            <ul>
                <li>de contributies van de gewone en de begunstigende leden;</li>
                <li>subsidies;</li>
                <li>entreegelden;</li> 
                <li>eventuele schenkingen;</li> 	
                <li>eventuele andere toevallige baten.</li>
            </ul>
        </li>
        <li>
            2.	Ieder gewoon lid betaalt een contributie, waarvan het bedrag jaarlijks door de algemene vergadering tijdens de jaarvergadering wordt vastgesteld. 
        </li>
        <li>
            3.	Nieuwe gewone leden kunnen verplicht zijn tot betaling van een entreegeld, waarvan het bedrag wordt vastgesteld door de algemene vergadering.
        </li>
    </ul>
</p>
<h2>Artikel 9</h2>
<h3>Bestuur en vertegenwoordiging</h3>
<p>
    <ul>
        <li>
            1.	Het bestuur bestaat uit ten minste vier personen. Het aantal bestuurders wordt vastgesteld door de algemene vergadering. 
        </li>
        <li>
            2.	De bestuurders worden door de algemene vergadering uit de leden van de vereniging benoemd, met dien verstande dat de voorzitter door de algemene vergadering kan worden benoemd buiten de leden. Het bestuur wijst uit zijn midden een secretaris en een penningmeester aan. De voorzitter wordt steeds als zodanig door de algemene vergadering benoemd. 
        </li>
        <li>
            3.	De algemene vergadering kan een bestuurslid schorsen of ontslaan indien zij daartoe termen aanwezig acht. Voor een dergelijk besluit is een meerderheid vereist van ten minste twee derden van de geldig uitgebrachte stemmen. 
        </li>
        <li>
            4.	De bestuurders zijn bevoegd te allen tijde zelf hun ontslag te nemen. Zij moeten dit schriftelijk doen met een opzeggingstermijn van ten minste drie maanden. 
        </li>
        <li>
            5.	Jaarlijks treedt een bestuurslid af volgens een door het bestuur op te maken rooster. De aftredende is direct herkiesbaar. 
        </li>
        <li>
            6.	De bestuurders worden benoemd voor onbepaalde tijd. 
        </li>
    </ul>
</p>
<h2>Artikel 10</h2>
<p>
    <ul>
        <li>
            1.	Het bestuur is belast met het besturen van de vereniging. 
        </li>
        <li>
            2.	Het bestuur vertegenwoordigt de vereniging. 
        </li>
        <li>
            3.	De vereniging kan ook vertegenwoordigd worden door twee gezamenlijk handelende bestuursleden. 
        </li>
        <li>
            4.	Het bestuur alsmede de voorzitter en de secretaris kunnen zich ter zake van hun vertegenwoordigingsbevoegdheid als in lid I bedoeld door een schriftelijk gevolmachtigde doen vertegenwoordigen, met dien verstande dat indien de penningmeester wordt gemachtigd te beschikken over banksaldi dit slechts mogelijk is binnen in de volmacht nauwkeurig omschreven grenzen. 
        </li>
        <li>
            5.	Het bestuur is niet bevoegd te besluiten tot het aangaan van overeenkomsten tot verkrijging, vervreemding en bezwaring van registergoederen en tot het aangaan van overeenkomsten waarbij de vereniging zich als borg of hoofdelijk medeschuldenaar verbindt, zich voor een derde sterk maakt of zich tot zekerheidstelling voor een schuld van een ander verbindt, tenzij het bestuur de goedkeuring van de algemene vergadering heeft verkregen. 
        </li>
        <li>
            6.	De beperking als in het vorige lid bedoeld, geldt tevens voor de bevoegdheid tot vertegenwoordiging en kan slechts namens de vereniging worden ingeroepen. 
        </li>
    </ul>
</p>
<h2>Artikel 11</h2>
<h3>Algemene Vergaderingen</h3>
<p>
    <ul>
        <li>
            1 . Jaarlijks wordt ten minste één algemene vergadering (jaarvergadering) gehouden en wel binnen zes maanden na afloop van het verenigingsjaar. De ledenvergadering kan deze termijn verlengen. In de jaarvergadering brengt het bestuur zijn bestuursverslag uit over de gang van zaken in de vereniging en over het gevoerde beleid. Het legt de balans en de staat van baten en lasten met een toelichting ter goedkeuring aan de vergadering over. Deze stukken hierna tezamen te noemen: "jaarstukken". De jaarstukken worden ondertekend door de bestuurders; ontbreekt de ondertekening van een of meer hunner, dan wordt daarvan onder opgave van redenen melding gemaakt. Na verloop van de termijn kan ieder lid van de gezamenlijke bestuurders in rechte vorderen dat zij deze verplichtingen nakomen. 
        </li>
        <li>
            2.	De getrouwheid van de jaarstukken is geregeld als er een verklaring bij de jaarstukken is gevoegd afkomstig van een accountant als bedoeld in artikel 2:393 lid 1 van het Burgerlijk Wetboek. 
        </li>
        <li>
            3.	Is er geen accountantsverklaring dan benoemt de algemene vergadering, jaarlijks, een commissie (kascommissie) van ten minste twee leden die geen deel van het bestuur mogen uitmaken. De commissie onderzoekt de balans en de staat van baten en lasten. Zij brengt aan de algemene vergadering verslag van haar bevindingen uit. Vergt dit onderzoek naar het oordeel van de commissie bijzondere boekhoudkundige kennis, dan kan zij zich op kosten van de vereniging door een deskundige doen bijstaan. 
        </li>
        <li>
            4.	Het bestuur is verplicht de commissie ten behoeve van haar onderzoek alle door haar gevraagde inlichtingen te verschaffen, haar desgewenst de kas en de waarden te tonen en de boeken, bescheiden en andere gegevens van de vereniging voor raadpleging beschikbaar te stellen. 
        </li>
        <li>
            5.	De opdracht aan de commissie kan te allen tijde door de algemene vergadering worden herroepen, doch slechts door de benoeming van een andere commissie. 
        </li>
        <li>
            6.	De algemene vergadering stelt de jaarstukken vast. Nadat het voorstel tot vaststelling van de jaarstukken aan de orde is geweest, zal aan de algemene vergadering het voorstel worden gedaan om kwijting te verlenen aan de bestuurders voor het door hen in het desbetreffende verenigingsjaar gevoerde beleid, voor zover van dat beleid uit de jaarstukken blijkt of dat beleid aan de algemene vergadering bekend is gemaakt. 
        </li>
    </ul>
</p>
<h2>Artikel 12</h2>
<p>
    <ul>
        <li>
            1.	De algemene vergaderingen worden bijeengeroepen door het bestuur, met inachtneming van een termijn van acht dagen. De bijeenroeping geschiedt dooreen aan alle leden te zenden schriftelijke mededeling. 
        </li>
        <li>
            2.	De communicatie en oproeping kan ook plaatsvinden via elektronische weg. 
        </li>
        <li>
            3.	Behalve de in artikel 11 bedoelde jaarvergadering zullen algemene vergaderingen worden gehouden zo dikwijls het bestuur dit wenselijk acht, of zo dikwijls dit schriftelijk met opgave van de te behandelen onderwerpen wordtverzocht door ten minste een zodanig aantal leden als bevoegd is tot het uitbrengen van een tiende gedeelte van de stemmen in de algemene vergadering, indien daarin alle leden tegenwoordig of vertegenwoordigd zijn. 
        </li>
        <li>
            4.	Na ontvangst van een verzoek als in lid 2 bedoeld is het bestuur verplicht tot bijeenroeping van een algemene vergadering op een termijn van niet langer dan vier weken. Indien aan het verzoek tot bijeenroeping binnen veertien dagen nadat dit door het bestuur werd ontvangen, geen gevolg wordt gegeven,zullen de verzoekers zelf tot die bijeenroeping kunnen overgaan op de wijze waarop het bestuur de algemene vergaderingen bijeenroept.
        </li>
    </ul>
</p>
<h2>Artikel 13</h2>
<p>
    <ul>
        <li>
            1.	Alle niet geschorste leden hebben toegang tot de algemene vergadering en hebben daar ieder één stem. Ieder lid is bevoegd zijn stem te doen uitbrengen door een schriftelijk daartoe gemachtigd ander lid. 
        </li>
        <li>
            2.	Een geschorst lid heeft alleen toegang tot de algemene vergadering waarin het besluit tot schorsing behandeld wordt en is slechts bevoegd daarover het woordte voeren. 
        </li>
        <li>
            3.	Een lid heeft geen stemrecht over zaken, die hem, zijn levensgezel, zijn echtgenoot of een van zijn bloed- of aanverwanten in de rechte lijn betreffen. 4. Een eenstemmig besluit van alle leden, ook al zijn deze niet in een vergadering bijeen, heeft, als met voorkennis van het bestuur genomen, dezelfde kracht als een besluit van de algemene vergadering. Een dergelijk besluit wordt door de secretaris genotuleerd, terwijl er melding van wordt gemaakt tijdens de eerstvolgende algemene vergadering. 
        </li>
        <li>
            5.	Stemming over zaken geschiedt mondeling, over personen schriftelijk. Het aannemen van voorstellen bij acclamatie is mogelijk, als dit plaats vindt op voorstel van de voorzitter. 
        </li>
        <li>
            6.	Het bestuur kan besluiten dat elektronisch stemmen is toegestaan voor een specifieke vergadering, dan wel voor alle vergaderingen van de vereniging. 
        </li>
        <li>
            7.	Het bestuur kan besluiten dat elektronische deelname aan de vergadering is toegestaan voor een specifieke vergadering, dan wel voor alle vergaderingen van de vereniging. 
        </li>
        <li>
            8.	Over alle voorstellen betreffende zaken wordt beslist bij volstrekte meerderheid van de uitgebrachte stemmen, voor zover de statuten niet anders bepalen. Bij staking van stemmen wordt het voorstel geacht te zijn verworpen. Bij stemming over personen is hij gekozen, die de volstrekte meerderheid van de uitgebrachte stemmen op zich heeft verenigd. Indien niemand die meerderheid heeft verkregen wordt een tweede stemming gehouden tussen de personen, die het grootste aantal van de uitgebrachte stemmen hebben verkregen en is hij gekozen, die bij die tweede stemming de meerderheid van de uitgebrachte stemmen op zich heeft verenigd. Indien bij die tweede stemming de stemmen staken beslist het lot. Onder stemmen worden in dit artikel verstaan geldig uitgebrachte stemmen, zodat niet in aanmerking komen blanco en met de naam van het stemmend lid ondertekende stemmen. 
        </li>
        <li>
            9.	Een ter vergadering door de voorzitter uitgesproken oordeel omtrent de uitslag van de stemming, is beslissend. Indien echter onmiddellijk na het uitspreken van dit oordeel de juistheid daarvan wordt betwist, vindt een nieuwe stemming plaats wanneer de meerderheid van de vergadering of, indien de oorspronkelijke stemming niet hoofdelijk of schriftelijk geschiedde, een stemgerechtigde aanwezige dit verlangt. Door deze nieuwe stemming vervallen de rechtsgevolgen van de oorspronkelijke stemming. 
        </li>
    </ul>
    <h2></p>
<h2>Artikel 14</h2>
<p>
    <ul>
        <li>
            1.	De voorzitter van het bestuur leidt de vergaderingen. Bij zijn afwezigheid of ontstentenis zal een van de andere bestuursleden als voorzitter van de vergadering optreden.
        </li>
        <li>
            2.	Van het tijdens de algemene vergadering verhandelde worden door de secretaris of door een door de voorzitter aangewezen lid van de vereniging notulen gehouden. 
        </li>
    </ul>
</p>
<h2>Artikel 15</h2>
<h3>Statutenwijziging </h3>
<p>
    <ul>
        <li>		
            1.	Wijziging van de statuten kan slechts plaats hebben na een besluit van de algemene vergadering, waartoe werd opgeroepen met de mededeling dat daarin wijziging van de statuten zal worden voorgesteld. De termijn voor oproeping tot een zodanig vergadering moet ten minste veertien dagen bedragen.
        </li>
        <li>
            2.	Zij, die de oproeping tot de algemene vergadering ter behandeling van een voorstel tot statutenwijziging hebben gedaan, moeten ten minste vijf dagen voor de dag van de vergadering een afschrift van dat voorstel, waarin de voorgestelde wijziging(en) woordelijk is (zijn) opgenomen, op een daartoe geschikte plaats voor de leden ter inzage leggen tot na de afloop van de dag, waarop de vergadering werd gehouden. 
        </li>
        <li>
            3.	Tot wijziging van de statuten kan slechts worden besloten door een algemene vergadering waarin ten minste twee derden van het totaal aantal leden van de vereniging aanwezig of vertegenwoordigd is, met een meerderheid van ten minste twee derden van het aantal uitgebrachte stemmen. Is niet twee derde van de leden aanwezig of vertegenwoordigd, dan wordt binnen vier, doch niet eerder dan twee weken daarna een tweede vergadering bijeengeroepen en gehouden waarin over het voorstel zoals dat in de vorige vergadering aan de orde is geweest, ongeacht het aantal aanwezige of vertegenwoordigde leden, kan worden besloten, als met een meerderheid van ten minste twee derden van de geldig uitgebrachte stemmen. 
        </li>
    </ul>
</p>
<h2>Artikel 16</h2>
<p>
Het in artikel 15 bepaalde is niet van toepassing indien ter algemene vergadering alle leden aanwezig of vertegenwoordigd zijn en het besluit tot statutenwijziging met algemene stemmen wordt genomen. 
<h2>Artikel 17</h2>
<p>
    <ul>
        <li>
            1.	De statutenwijziging treedt niet in werking dan nadat daarvan een notariële akte is opgemaakt. Tot het doen verlijden van de notariële akte is ieder bestuurslid zelfstandig bevoegd. Voorts kan de algemene vergadering één of meer personen machtigen tot het doen verlijden van de notariële akte. 
        </li>
        <li>
            2.	De bestuurders zijn verplicht een authentiek afschrift van de wijziging en de gewijzigde statuten te deponeren in het handelsregister. 
        </li>
    </ul>
</p>
<h2>Artikel 18</h2>
<p>
    Het bepaalde in de artikelen 15 en 16 is van overeenkomstige toepassing op een besluit tot fusie als bedoeld in artikel 2:309 Burgerlijk Wetboek en op een besluit tot (af)splitsing als bedoeld in artikel 2:334a Burgerlijk Wetboek. 
</p>
<h2>Artikel 19</h2>
<h3>Ontbinding en vereffening</h3>
<p>
    <ul>
        <li>
            1.	De vereniging kan worden ontbonden door een besluit daartoe van de algemene vergadering. Het in deze statuten bepaalde over een statutenwijziging is van overeenkomstige toepassing. 
        </li>
        <li>
            2.	Indien bij een besluit tot ontbinding geen vereffenaars zijn aangewezen, vindt de vereffening plaats door het bestuur. 
        </li>
        <li>
            3.	Een eventueel batig saldo zal worden aangewend voor door de algemene vergadering te bepalen doeleinden als het meest met het doel van de vereniging overeenstemmen. De vereffenaars dragen het batig saldo daartoe over. 
        </li>
        <li>
            4.	Na de ontbinding blijft de vereniging voortbestaan voor zover dit tot vereffening van haar vermogen nodig is. Gedurende de vereffening blijven de bepalingen van de statuten en reglementen voor zover mogelijk van kracht. In stukken en aankondigingen die van de vereniging uitgaan, moeten aan haar naam worden toegevoegd de woorden "in liquidatie". 
        </li>
        <li>
            5.	De boeken, bescheiden en andere gegevensdragers van de vereniging moeten worden bewaard door een door de vereffenaars aan te wijzen natuurlijke of rechtspersoon, gedurende zeven jaren na de vereffening. 
        </li>
    </ul>
</p>
<h2>Artikel 20</h2>
<h3>Huishoudelijk reglement </h3>
<p>
    <ul>
        <li>
            1.	De algemene vergadering kan een huishoudelijk reglement vaststellen en wijzigen. In dit reglement kunnen onderwerpen worden geregeld waarin door deze statuten niet of niet volledig wordt voorzien. 
        </li>
        <li>
            2.	Het huishoudelijk reglement mag niet in strijd zijn met de wet.
        </li>
        <li>
            3.	Het huishoudelijk reglement mag niet in strijd zijn met de statuten.
        </li>
        <li>
            4.	De algemene vergadering is bevoegd het reglement te wijzigen of te beëindigen.
        </li>
        <li>
            5.	Op de vaststelling, wijziging en beëindiging van het reglement zijn de regels voor de wijziging van de statuten van toepassing. 
        </li>
    </ul>
</p>
<h2>Artikel 21</h2>
<h3>Rechtskeuze</h3>
<p>
    Op deze akte is het Nederlands recht van toepassing. 
    <h2>Artikel 22</h2>
    <h3>Slotbepalingen</h3>
</p>
<p>
    <ul>
        <li>
            1.	In alle gevallen, waarin zowel de wet als deze statuten niet voorzien, beslist het bestuur.
        </li>
        <li>
            2.	Onder schriftelijk wordt in deze statuten verstaan elk via de gangbare communicatiekanalen overgebracht bericht, waarvan uit geschrift blijkt of kan blijken. 
        </li>
        <li>
            3.	Het eerste boekjaar van de vereniging eindigt op eenendertig december tweeduizendzeventien. 
        </li>
    </ul>
</p>
<h2>Slotverklaring</h2>
<p>
    De oprichters verklaren ten slotte:
    <ul>
        <li>
            1.	dat voor de eerste maal zullen optreden als leden van het bestuur:
            <ul>
                <li>de heer Willem Johan Loosman, voornoemd, vervult de functie voorzitter;</li>
                <li>de heer Sander de Bruin, voornoemd, vervult de functie penningmeester;</li>
                <li>de heer Nigel van Hattum, voornoemd, vervult de functie secretaris;</li>
                <li>de heer Olivier Eduard Verwoerd, voornoemd, vervult de functie bestuurslid.</li>
            </ul>
        </li>
        <li>
            2. dat de genoemde vier leden van het bestuur aftreden in de eerstvolgende algemene vergadering. Zij zijn onmiddellijk herbenoembaar.
        </li>
    </ul>
</p>
<h2>Slot</h2> 
<p>
    De comparanten zijn mij, notaris, bekend.<br/>
    Verder heb ik, notaris, de zakelijke inhoud van de akte meegedeeld aan de comparanten en daarop een toelichting gegeven.<br/>
    De comparanten verklaren van de inhoud van de akte te hebben kennis genomen en daarmee in te stemmen.<br/>
    Tevens verklaren de comparanten uitdrukkelijk in te stemmen met de beperkte voorlezing van de akte.<br/> 
    Dadelijk na beperkte voorlezing is de akte door ieder van de comparanten en door mij, notaris, ondertekend. <br/>
    De akte is verleden te Vleuten op de datum aan het begin van deze akte vermeld, om elf uur tien minuten.<br/>
    Uitgegeven voor afschrift
</p>


   