@{
    ViewData["Title"] = "Statuten";
}
<h2>@ViewData["Title"]</h2>

<h3>Om de volledige statuten te zien moet je lid van onze vereninging zijn.</h3>
<p>
    Heden, achttien mei tweeduizend zeventien, verschijnen voor mij, mr. Johannes Hagen, notaris te Vleuten, De Meern en Haarzuilens, gemeente Utrecht:
    <ul>
        <li>de heer Willem Johan Loosman</li>
        <li>de heer Sander de Bruin</li> 
        <li>de heer Nigel van Hattum</li>
        <li>de heer Olivier Eduard Verwoerd</li>
    </ul>
    De comparanten verklaren bij deze akte een vereniging met volledige rechtsbevoegdheid op te richten en daarvoor de volgende statuten vast te stellen:
</p>
<h2>Artikel 1</h2>
<h3>Naam en Zetel</h3>
<p>
    <ul>
        <li>
            1. De vereniging heet: Studievereniging Indicium.
        </li>
        <li>
            2. Zij heeft haar zetel in de gemeente Utrecht. 
        </li>
    </ul>
</p>
<h2>Artikel 2</h2>
<h3>Doel</h3>
<p>
    Het doel van de vereniging is het bevorderen, respectievelijk het doen bevorderen van: 
    <ul>
        <li>de contacten tussen studenten onderling en tussen studenten en medewerkers van de opleiding HBO-ICT aan de Hogeschool Utrecht en voorts het organiseren van studiegerichte, dan wel ontspannende activiteiten;</li>
        <li>de kwaliteit van de opleiding zelve;</li>
        <li>het vinden respectievelijk aanbieden van stage- en carrière posities en het vergroten van betrokkenheid van de studenten van de voorgenoemde opleiding in het werkveld, en het verrichten van alle verdere handelingen, die hiermee in de ruimste zin verband houden of daarvoor bevorderlijk kunnen zijn.</li>
    </ul>
</p>
<h2>Artikel 3</h2>
<h3>Verenigingsjaar</h3>
<p>
    Het verenigingsjaar valt samen met het kalenderjaar. 
</p>
<h2>Artikel 4</h2>
<h3>Lidmaatschap</h3>
<p>
    De vereniging kent gewone leden, ereleden en begunstigende leden. Als in deze statuten wordt gesproken van lid of leden bedoelen we daarmee zowel de gewone leden als de ereleden, tenzij het tegendeel blijkt. 
    <ul>
        <li>Gewone leden zijn zij, die als zodanig zijn toegelaten overeenkomstig het in artikel 5 bepaalde.</li>
        <li>Ereleden zijn zij, die in verband met hun buitengewone verdiensten voor de vereniging of in het kader van de doelstelling van de vereniging, door de algemene vergadering zijn benoemd tot erelid.</li>
        <li>Begunstigende leden zijn zij, die zich bereid verklaard hebben de vereniging financieel te steunen met een door de algemene ledenvergadering vastgesteld minimumbedrag en die als zodanig door het bestuur zijn toegelaten.</li>
    </ul>
</p>

<h3>Om de volledige statuten te zien moet je lid van onze vereninging zijn.</h3>


   