body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* navbar style */
#mainNav {
    background-color: rgb(114, 201, 225) !important;
}

.navbar-fixed-top {
    min-height: 80px;
}

#mainLogo img {
    height: 50px;
}

/* Zet de body iets lager omdat de navbar hoger is */
#mainContent {
    margin-top: 30px;
    
}

/*footer style*/
#mainFooter {
    color: #999;
}


/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Menu style for dropdown button */
.dropdown-menu-button {
    display: block;
    padding: 3px 20px !important;
    margin: 0 !important;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333 !important;
    white-space: nowrap;
    border: none;
    width:100%;
    text-align: left;
}

.dropdown-menu-button:focus,
.dropdown-menu-button:hover {
    color: #262626 !important;
    text-decoration: none;
    background-color: #f5f5f5 !important;
}
