@{
    ViewData["Title"] = "Not Approved";
}

<header>
    <h1 class="text-danger">Niet Goedgekeurd</h1>
    <p class="text-danger">Je account is nog niet goedgekeurd. Je moet wachten tot een van de luie flikkers van het secretariaat 
                                je account heeft goedgekeurd. Dit kan enkele maanden duren, excuses voor het ongemak</p>
</header>
