@model RegisterViewModel
@ViewData["Message"]

@addTagHelper *, PaulMiami.AspNetCore.Mvc.Recaptcha

@{
    ViewData["Title"] = "Register";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&key=AIzaSyD0OB49cA3HdaxvLz-VMjkDwkD3HhA77Hg "></script>
<recaptcha-script />

<h2>Inschrijfformulier Indicium</h2>

<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <h4>Algemene gegevens</h4>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="FirstName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span class="text-info" style="display:block;">
                <a id="suggestedemail" style="cursor:pointer"></a>
            </span>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Sex" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="Sex" asp-items="Html.GetEnumSelectList<Sex>()" class="form-control"></select>
            <span asp-validation-for="Sex" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Birthday" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Birthday" class="form-control datetimepicker" placeholder="dd-mm-yyyy" />
            <span asp-validation-for="Birthday" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="AddressPostalCode" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input id="zip_code" asp-for="AddressPostalCode" class="form-control" />
            <span asp-validation-for="AddressPostalCode" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="AddressStreet" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input id="street" asp-for="AddressStreet" class="form-control" />
            <span asp-validation-for="AddressStreet" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="AddressNumber" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="AddressNumber" class="form-control" />
            <span asp-validation-for="AddressNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="AddressCity" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input id="city" asp-for="AddressCity" class="form-control" />
            <span asp-validation-for="AddressCity" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="AddressCountry" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input id="country" asp-for="AddressCountry" class="form-control" />
            <span asp-validation-for="AddressCountry" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="StudentNumber" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="StudentNumber" class="form-control" />
            <span asp-validation-for="StudentNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="StartdateStudy" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="StartdateStudy" class="form-control datetimepicker" placeholder="dd-mm-yyyy" />
            <span asp-validation-for="StartdateStudy" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="StudyType" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="StudyType" asp-items="Html.GetEnumSelectList<StudyType>()" class="form-control"></select>
            <span asp-validation-for="StudyType" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <recaptcha />
    </div>
    <div class="form-group">
           <button type="submit" class="btn btn-default">Registreren</button>
    </div> 
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(function () {
            $('.datetimepicker').datetimepicker({
                locale: 'nl',
                format: 'DD-MM-YYYY'
            });
            $('.datetimepicker2').datetimepicker({
                locale: 'nl',
                format: 'YYYY'
            });
        });
    </script>

    <script>
        amountused = 0;
        window.onload = function () {
            var firstname = document.getElementById("FirstName"),
                lastname = document.getElementById("LastName"),
                email = document.getElementById("Email"),
                suggestedEmail = document.getElementById("suggestedemail");
            
            function getEmail() {
                var result = firstname.value + '.' + lastname.value + '@@student.hu.nl';
                return result.replace(/\s/g, '').toLowerCase();
            }
            
            firstname.addEventListener('input', function() { generateEmail() });
            lastname.addEventListener('input', function() { generateEmail() });
            email.addEventListener('input', function() { generateEmail() });
            
            suggestedEmail.onclick = function() {
                var result = getEmail();
                
                email.value = result;

                if (email.value == result) {
                    suggestedEmail.innerHTML = '';
                }
            };

            function generateEmail() {
                var result = getEmail();

                if (firstname.value != '' && lastname.value != '') {
                    if (email.value != result) {
                        suggestedEmail.innerHTML = 'Voorgestelde email: ' + result;
                    } else {
                        suggestedEmail.innerHTML = '';
                    }
                } else {
                    suggestedEmail.innerHTML = '';
                }
            }
        };

        $('#zip_code').focusout(function () { 
            var location = $('#zip_code').val().replace(" ", "");
            var patt = new RegExp("^[0-9]{4}\s?[a-zA-Z]{2}$");
            if (patt.test(location)&&amountused < 3)
            {
                getAddress(location);
                amountused++;
            } 
            Session["amount"] = Session["amount"]++;
        });

        function getAddress(location) {
            geocoder = new google.maps.Geocoder();
            var city;
            var streetname;
            var country = 'Nederland';
            geocoder.geocode({ 'address': location }, function (results, status) {
                if (status == 'OK') {
                    var result = results[0].geometry.location;
                    geocoder.geocode({ latLng: results[0].geometry.location }, function (results, status) {
                        if (status == google.maps.GeocoderStatus.OK) {
                            // get the streetname:
                            if (results[0].types[0] == 'street_address' && results[0].address_components[1]) {
                                streetname = results[0].address_components[1].long_name;
                            }
                            else if (results[0].types[0] == 'route') {
                                streetname = results[0].address_components[0].long_name;
                            }
                            $('#street').val(streetname);
                        }
                    });
                    results[0].address_components.forEach(function (element2) {
                        element2.types.forEach(function (element3) {
                            switch (element3) {
                                case 'locality':
                                    city = element2.long_name;
                                    break;
                            };
                        });
                    });
                    $('#city').val(city);
                    $('#country').val(country);
                }
                else {
                    console.log("Geocode was not successful for the following reason: " + status);
                };
            });
        };
    </script>

}
