@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<h2>Inschrijfformulier Indicium</h2>

<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <h4>Algemene gegevens</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="FirstName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span class="text-info" style="display:block;">
                <a id="suggestedemail" style="cursor:pointer"></a>
            </span>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Sex" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="Sex" asp-items="Html.GetEnumSelectList<Sex>()" class="form-control"></select>
            <span asp-validation-for="Sex" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Birthday" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Birthday" class="form-control datetimepicker" placeholder="dd-mm-yyyy" />
            <span asp-validation-for="Birthday" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="AddressStreet" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="AddressStreet" class="form-control" />
            <span asp-validation-for="AddressStreet" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="AddressNumber" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="AddressNumber" class="form-control" />
            <span asp-validation-for="AddressNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="AddressPostalCode" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="AddressPostalCode" class="form-control" />
            <span asp-validation-for="AddressPostalCode" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="AddressCity" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="AddressCity" class="form-control" />
            <span asp-validation-for="AddressCity" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="AddressCountry" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="AddressCountry" class="form-control" />
            <span asp-validation-for="AddressCountry" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Iban" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Iban" class="form-control" />
            <span asp-validation-for="Iban" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="StudentNumber" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="StudentNumber" class="form-control" />
            <span asp-validation-for="StudentNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="StartdateStudy" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="StartdateStudy" class="form-control datetimepicker" placeholder="dd-mm-yyyy" />
            <span asp-validation-for="StartdateStudy" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="StudyType" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="StudyType" asp-items="Html.GetEnumSelectList<StudyType>()" class="form-control"></select>
            <span asp-validation-for="StudyType" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Registreren</button>
        </div>
    </div> 
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(function () {
            $('.datetimepicker').datetimepicker({
                locale: 'nl',
                format: 'DD-MM-YYYY'
            });
        });
    </script>

    <script>
        window.onload = function () {
            var firstname = document.getElementById("FirstName"),
                lastname = document.getElementById("LastName"),
                email = document.getElementById("Email"),
                suggestedEmail = document.getElementById("suggestedemail");
            
            function getEmail() {
                var result = firstname.value + '.' + lastname.value + '@@student.hu.nl';
                return result.replace(/\s/g, '').toLowerCase();
            }
            
            firstname.addEventListener('input', function() { generateEmail() });
            lastname.addEventListener('input', function() { generateEmail() });
            email.addEventListener('input', function() { generateEmail() });
            
            suggestedEmail.onclick = function() {
                var result = getEmail();
                
                email.value = result;

                if (email.value == result) {
                    suggestedEmail.innerHTML = '';
                }
            };

            function generateEmail() {
                var result = getEmail();

                if (firstname.value != '' && lastname.value != '') {
                    if (email.value != result) {
                        suggestedEmail.innerHTML = 'Voorgestelde email: ' + result;
                    } else {
                        suggestedEmail.innerHTML = '';
                    }
                } else {
                    suggestedEmail.innerHTML = '';
                }
            }
        };
    </script>
}
