@{
    ViewData["Title"] = "Wachtwoord resetten bevestigd";
}

<h1>@ViewData["Title"].</h1>
<p>
    Uw wachtwoord is gereset, u kunt <a asp-controller="Account" asp-action="Login">hier inloggen</a>.
</p>