@model CommissionViewModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Commissie verwijderen</h2>

<h3>Weet je zeker dat je dit wilt verwijderen?</h3>
<div>
    <h4>Commissie</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="CommissionID" />
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Verwijderen" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-default">Terug naar overzicht</a>
        </div>
    </form>
</div>
