@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Vacaturebank / Sponsoren pagina is nog in ontwikkeling</h1>
    <p>We zijn nog bezig om een omgeving te maken waarop het voor de studenten makkelijk is om een bijbaan, stage, afstudeerproject of na je studie een baan te kunnen vinden.</p>
    <p>Uw bedrijf hier op deze pagina in de toekomst? Neem dan contact met ons op via bestuur@indicium.hu</p>
</div>
